body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.logo{
  margin: 2rem;
  color:black;
  font-size: 25px;
}
.log{
  color:#05981d;
}

.primary-header {
/*  display: flex;*/
  align-items: center;
  justify-content: space-between;
/*  background: black;*/
  
}

/*
.primary-header img{
  margin: 1.2rem;
  border-radius: 40px;
  width:50px;
  height: 50px;
}
*/

#mobile-nav-toggle{
  display: none;
}

.flex{
  display: flex;
  gap: var(--gap, 1rem);

}

#primary-navigation{
  list-style: none;
  margin: 0;
  padding: 0;
   background: hsla(0 0% 100% / 0.1);
  backdrop-filter: blur(0.5rem);
}

@supports(backdrop-filter: blur(1rem)) {
  .primary-navigation{
     background: hsla(0 0% 100% / 0.1);
  backdrop-filter: blur(0.5rem);
  }
}


#primary-navigation{
  align-items: center;
  justify-content: space-between;
  }

#primary-navigation a{
    text-decoration: none;
  }

#primary-navigation a > [aria-hidden ="true"]{
    font-weight: 700;
    margin-inline-end: 0.75em;
  }

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding:5px 10px;

}
nav ul li a{
  color:black;
  text-decoration: none;
  font-weight: bold;
  margin-inline-end: 0.75em;
}
nav ul li a:hover{
  color:#05981d;
  transition: 0.3s;
}

@media (max-width: 35em) {
#primary-navigation{
    position: fixed;
    z-index: 1000;
   --gap:2em;
    inset:0 0 0 40%;
    flex-direction:column;
    padding: min(30vh, 10rem) 2em;
  
  transform: translateX(100%);
  transition: transform 350ms ease-out;

  }

 #primary-navigation[data-visible = "true"]{
    transform:translateX(0%);
  }


#mobile-nav-toggle{
  display: block;
  position: absolute;
  background-color: transparent;
/*  background-image: url("C:\Users\admin\Desktop\mangosteen landing page\ham1.png");*/
  background-repeat: no-repeat;
  border: 0;
  width:1rem;
  z-index: 9999;
  aspect-ratio: 1;
  top: 2rem;
  right: 2rem;
  }

  /*#mobile-nav-toggle[aria-expanded="true"]{
    background-image: url("C:\Users\admin\Desktop\mangosteen landing page\axe.png");
  }*/

}

.container{
  padding:2rem;
}
.slider-wrapper{
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.slider{
  display: flex;
  aspect-ratio: 3/2;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit:100%;
}
.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover{
  opacity: 1;
}



#landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}

 #landing .buy{
  padding-top:1px;
  padding-bottom: 17px;
  }

#landing .button{
  background-color: #05981d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.benefits ul{
  list-style-type: none;

}

.color{
  color:#6D041B;
  font-size: 40px;
}

.color01{
  color:#05981d;
  padding:10px;
}
.color02{
  color: #6D041B;
  padding:10px;
}

.color03{
  color: #6D041B;
  padding:10px;
}
.color04{
  color: #6D041B;
  padding:10px;
}

#landing .benefits{
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*  margin-left: 25px;*/

}



#landing .button:hover{
      /*color:#818E81;
      background-color: #79D479;*/
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}


.social-link{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top:15px;
  margin-bottom: 20px;
}

.social-link .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.social-link .fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-instagram {
 background:linear-gradient(to right,red,yellow);
  color: white;
}
.fa-youtube {
  background: red;
  color: white;
}



.slidermain{
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}

.slide-container{
  max-width:1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;

}
.card{
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;

}
.overlay{
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  width: 100%;
  background-color: #05981d;
  border-radius: 25px 25px 0 25px;

}

.overlay::before,
.overlay::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color:#05981d;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}

.card-image{
  position: relative;
  width:150px;
  height: 150px;
  border-radius: 5%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height:100%;
  width: 100%;
  object-fit: fill;
  border-radius: 5%;
/*  border: 4px solid #4070F4;*/

}
.name{
  font-size: 18x;
  font-weight: 500;
  color:#333;
}
.description{
  font-size: 14px;
  color:#707070;
  text-align: center;
}
.button{
  border:none;
  font-size: 16px;
  color:#FFF;
  padding: 8px 16px;
  background-color: #05981d;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #08ed2d;

}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover{
  color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 40px;
}
.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px){
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
d