body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: white;
}


/* header */


.header {
  display: flex;
/*  align-items: center;*/
  justify-content: space-between;
  background-color: black;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 999;
 }

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color:red;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

span{
  color: red;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


.container{
  padding-top:5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;

}
.slider-wrapper{
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.slider{
  display: flex;
  aspect-ratio: 3/2;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}
.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit:100%;
}
.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover{
  opacity: 1;
}


#landing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100%;
}

 #landing .buy{
  padding-top:1px;
  padding-bottom: 17px;
  }

#landing .button{
  background-color: #05981d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.benefits ul{
  list-style-type: none;

}

.color{
  color:#6D041B;
  font-size: 40px;
}

.color01{
  color:#05981d;
  padding:10px;
}
.color02{
  color: #6D041B;
  padding:10px;
}

.color03{
  color: #6D041B;
  padding:10px;
}
.color04{
  color: #6D041B;
  padding:10px;
}

#landing .benefits{
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*  margin-left: 25px;*/

}



#landing .button:hover{
      /*color:#818E81;
      background-color: #79D479;*/
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}


.product{

  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-left: 0;
  margin-right: 5px;*/
  justify-content:space-between;
 /* width:50%;
  margin-top:30px;
  left:25%;
  position: relative;*/
  
  }

 .product .content{
  text-align: center;
  padding: 4px;
  border: 1px solid #EC9958;
  border-radius: 5px;
}
  
.content {
  box-sizing: border-box;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0,0,0,0.22);
  transition: .4s;
  background: #f2f2f2;

}
.content:hover{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}


.product img{
  width: 150px;
  height: 200px;
  border-radius: 3px;
  text-align: center;
  display: block;
}

.button1{
  background-color: #05981d;
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1:hover{
      color:#818E81;
      background-color: #79D479;
    }
h3{

color:#2B2825;
}
h4{
color: #2B2825;
}
